<a href="https://colab.research.google.com/github/Roohiashahzad/Roohia_INFO5731_Spring2020/blob/main/RoohiaShahzad_INFO5731_In_class_exercise_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Write your code here


import pandas as pd
data_url = "/content/legalCase.csv"
input_file = pd.read_csv(data_url, error_bad_lines= False, names = ['sentence_count'])

#num of sentences
totalSentences =len(input_file['sentence_count'])
print("total sentences = " , totalSentences)

total sentences =  148

In [3]:
#num of words
input_file['word_count'] = input_file['sentence_count'].apply(lambda x: len(str(x).split(" ")))
input_file[['sentence_count','word_count']].head(10)

                                  sentence_count  word_count
0                                     5 Ala. 740           3
1                      Supreme Court of Alabama.           4
2                                          ADAMS           1
3                                             v.           1
4                             TANNER AND HORTON.           3
5                                      June Term           2
6                                       Synopsis           1
7  WRIT of Error to the Circuit Court of Sumter.           9
8                                              Â            1
9                             West Headnotes (2)           3

In [4]:
#num of char
input_file['char_count']=input_file['sentence_count'].str.len()
input_file[['sentence_count','word_count', 'char_count']].head(10)

                                  sentence_count  word_count  char_count
0                                     5 Ala. 740           3          10
1                      Supreme Court of Alabama.           4          25
2                                          ADAMS           1           5
3                                             v.           1           2
4                             TANNER AND HORTON.           3          18
5                                      June Term           2           9
6                                       Synopsis           1           8
7  WRIT of Error to the Circuit Court of Sumter.           9          45
8                                              Â            1           1
9                             West Headnotes (2)           3          18

In [5]:
#avg word length
def avg_word(sentence):
  words=sentence.split()
  if len(words)!=0:
    return(sum(len(word) for word in words)/len(words))
  else:
    return 0
input_file['avg_word_len']=input_file['sentence_count'].apply(lambda x: avg_word(x))
input_file[['sentence_count','word_count', 'char_count', 'avg_word_len']].head(10)

                                  sentence_count  ...  avg_word_len
0                                     5 Ala. 740  ...      2.666667
1                      Supreme Court of Alabama.  ...      5.500000
2                                          ADAMS  ...      5.000000
3                                             v.  ...      2.000000
4                             TANNER AND HORTON.  ...      5.333333
5                                      June Term  ...      4.000000
6                                       Synopsis  ...      8.000000
7  WRIT of Error to the Circuit Court of Sumter.  ...      4.111111
8                                              Â   ...      0.000000
9                             West Headnotes (2)  ...      5.333333

[10 rows x 4 columns]

In [6]:
#num of stopwords
from nltk.corpus import stopwords

import nltk
nltk.download('stopwords')
stop=stopwords.words('english')

input_file['stopwords']=input_file['sentence_count'].apply(lambda x: len([x for x in x.split() if x in stop]))
input_file[['sentence_count','word_count', 'char_count', 'avg_word_len', 'stopwords']].head(10)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

                                  sentence_count  ...  stopwords
0                                     5 Ala. 740  ...          0
1                      Supreme Court of Alabama.  ...          1
2                                          ADAMS  ...          0
3                                             v.  ...          0
4                             TANNER AND HORTON.  ...          0
5                                      June Term  ...          0
6                                       Synopsis  ...          0
7  WRIT of Error to the Circuit Court of Sumter.  ...          4
8                                              Â   ...          0
9                             West Headnotes (2)  ...          0

[10 rows x 5 columns]

In [7]:
#num of special chars
input_file['special_char_count']=input_file['sentence_count'].apply(lambda x: len([x for x in x.split() if x.startswith(('#'))]))
input_file[['sentence_count','word_count', 'char_count', 'avg_word_len', 'stopwords', 'special_char_count']].head(10)

                                  sentence_count  ...  special_char_count
0                                     5 Ala. 740  ...                   0
1                      Supreme Court of Alabama.  ...                   0
2                                          ADAMS  ...                   0
3                                             v.  ...                   0
4                             TANNER AND HORTON.  ...                   0
5                                      June Term  ...                   0
6                                       Synopsis  ...                   0
7  WRIT of Error to the Circuit Court of Sumter.  ...                   0
8                                              Â   ...                   0
9                             West Headnotes (2)  ...                   0

[10 rows x 6 columns]

In [8]:
#num of numerics
input_file['numerics']=input_file['sentence_count'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))
input_file[['sentence_count', 'word_count', 'char_count', 'avg_word_len', 'stopwords', 'special_char_count','numerics']].head(10)

                                  sentence_count  ...  numerics
0                                     5 Ala. 740  ...         2
1                      Supreme Court of Alabama.  ...         0
2                                          ADAMS  ...         0
3                                             v.  ...         0
4                             TANNER AND HORTON.  ...         0
5                                      June Term  ...         0
6                                       Synopsis  ...         0
7  WRIT of Error to the Circuit Court of Sumter.  ...         0
8                                              Â   ...         0
9                             West Headnotes (2)  ...         0

[10 rows x 7 columns]

In [9]:
#num of uppercase words
input_file['uppercase']=input_file['sentence_count'].apply(lambda x: len([x for x in x.split() if x.isupper()]))
input_file[['sentence_count', 'word_count', 'char_count', 'avg_word_len', 'stopwords', 'special_char_count','numerics','uppercase']].head(10)

                                  sentence_count  ...  uppercase
0                                     5 Ala. 740  ...          0
1                      Supreme Court of Alabama.  ...          0
2                                          ADAMS  ...          1
3                                             v.  ...          0
4                             TANNER AND HORTON.  ...          3
5                                      June Term  ...          0
6                                       Synopsis  ...          0
7  WRIT of Error to the Circuit Court of Sumter.  ...          1
8                                              Â   ...          0
9                             West Headnotes (2)  ...          0

[10 rows x 8 columns]

In [10]:
# lower casing
input_file['sentence_count']=input_file['sentence_count'].apply(lambda x: " ".join(x.lower() for x in x.split()))
input_file['sentence_count'].head(10)

0                                       5 ala. 740
1                        supreme court of alabama.
2                                            adams
3                                               v.
4                               tanner and horton.
5                                        june term
6                                         synopsis
7    writ of error to the circuit court of sumter.
8
9                               west headnotes (2)
Name: sentence_count, dtype: object

In [11]:
#removing punctuation
input_file['sentence_count']=input_file['sentence_count'].str.replace('[^\w\s]','')
input_file['sentence_count'].head(10)

0                                       5 ala 740
1                        supreme court of alabama
2                                           adams
3                                               v
4                               tanner and horton
5                                       june term
6                                        synopsis
7    writ of error to the circuit court of sumter
8
9                                west headnotes 2
Name: sentence_count, dtype: object

In [12]:
#removing stopwords
from nltk.corpus import stopwords
stop = stopwords.words('english')
input_file['sentence_count'] = input_file['sentence_count'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
input_file['sentence_count'].head(10)

0                          5 ala 740
1              supreme court alabama
2                              adams
3                                  v
4                      tanner horton
5                          june term
6                           synopsis
7    writ error circuit court sumter
8
9                   west headnotes 2
Name: sentence_count, dtype: object

In [13]:
#frequent word removal
freq = pd.Series(' '.join(input_file['sentence_count']).split()).value_counts()[:10]
freq = list(freq.index)
input_file['sentence_count'] = input_file['sentence_count'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
input_file['sentence_count'].head(10)

0                  740
1      supreme alabama
2                adams
3
4        tanner horton
5                 june
6             synopsis
7    writ error sumter
8
9       west headnotes
Name: sentence_count, dtype: object

In [14]:
#rare words removal
freq = pd.Series(' '.join(input_file['sentence_count']).split()).value_counts()[-10:]
freq = list(freq.index)
input_file['sentence_count'] = input_file['sentence_count'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
input_file['sentence_count'].head(10)

0                  740
1      supreme alabama
2                adams
3
4        tanner horton
5                 june
6             synopsis
7    writ error sumter
8
9       west headnotes
Name: sentence_count, dtype: object

In [15]:
#spelling correction
from textblob import TextBlob
input_file['sentence_count'][:5].apply(lambda x: str(TextBlob(x).correct()))
input_file['sentence_count'].head(10)

0                  740
1      supreme alabama
2                adams
3
4        tanner horton
5                 june
6             synopsis
7    writ error sumter
8
9       west headnotes
Name: sentence_count, dtype: object

In [16]:
#tokenization
import nltk
nltk.download('punkt')
TextBlob(input_file['sentence_count'][1]).words

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

WordList(['supreme', 'alabama'])

In [17]:
#stemming
from nltk.stem import PorterStemmer
st = PorterStemmer()
input_file['sentence_count'][:5].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))
input_file['sentence_count'].head(10)

0                  740
1      supreme alabama
2                adams
3
4        tanner horton
5                 june
6             synopsis
7    writ error sumter
8
9       west headnotes
Name: sentence_count, dtype: object

In [18]:
#lemmatization
from textblob import Word
import nltk
nltk.download('wordnet')

input_file['sentence_count'] = input_file['sentence_count'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))
input_file['sentence_count'].head(10)

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

0                  740
1      supreme alabama
2                 adam
3
4        tanner horton
5                 june
6             synopsis
7    writ error sumter
8
9       west headnotes
Name: sentence_count, dtype: object

In [20]:
#saving in csv file 
input_file['sentence_count'].to_csv("newlegalCase.csv",header=True,index=False)

In [21]:
#Calculate the term frequency of all the terms.
tf1 = (input_file['sentence_count']).apply(lambda x: pd.value_counts(x.split(" "))).sum(axis = 0).reset_index()
tf1.columns = ['words','tf']
tf1.head(10)

      words    tf
0       740   2.0
1   alabama   1.0
2   supreme   1.0
3      adam   1.0
4            35.0
5    horton   1.0
6    tanner   1.0
7      june   1.0
8  synopsis   1.0
9     error   3.0

In [26]:
#Print out top 10 1-gram, top 10 2-grams, and top 10 3-grams terms as features.
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer

data_file="newlegalCase.csv"
input_file=pd.read_csv(data_file,error_bad_lines=False,names=['sentence_count'])

tfidf = TfidfVectorizer(max_features=1000, lowercase=True, analyzer='word', stop_words= 'english', ngram_range = (1,3))
tfs = tfidf.fit_transform(input_file['sentence_count'].values.astype('U'))
feature_names = tfidf.get_feature_names()
print(feature_names)

['103', '103 alr', '103 alr 464', '108', '145', '182', '1852', '1857', '1858', '1871', '1872', '1876', '1880', '1887', '1936', '2019', '2019 thomson', '2019 thomson reuters', '21', '21 333', '266', '31', '31 526', '329', '333', '362', '39', '45', '45 329', '464', '526', '55', '55 266', '65', '740', '913', 'act', 'act considered', 'act considered connection', 'act subject', 'act subject policy', 'adam', 'admissible', 'admissible contradict', 'admitted', 'admitted contract', 'admitted contract defendant', 'admx', 'alabama', 'alr', 'alr 464', 'appeal', 'appeal barbour', 'appeal barbour tried', 'appeal city', 'appeal city montgomery', 'appeal etowah', 'appeal etowah tried', 'assert', 'assert right', 'attachment', 'attachment execution', 'attorney', 'attorney law', 'attorney law firm', 'austin', 'austin sawyer', 'autauga', 'autauga tried', 'autauga tried hon', 'authority', 'bale', 'bale cotton', 'bale cotton appeal', 'barbour', 'barbour tried', 'barbour tried hon', 'bibb', 'bibb janney', 'booker', 'booker jones', 'booker jones admx', 'bowman', 'brings', 'brings question', 'cal', 'cal 145', 'case', 'case cite', 'case cite headnote', 'charged', 'charged jury', 'chattel', 'chattel mortgage', 'citation', 'cite', 'cite headnote', 'citing', 'citing reference', 'city', 'city montgomery', 'city montgomery tried', 'claim', 'claim original', 'claim original government', 'claimant', 'claimant assert', 'claimant assert right', 'claimant previous', 'claimant previous levy', 'coat', 'collier', 'confirmation', 'confirmation correctness', 'confirmation correctness view', 'connection', 'connection act', 'connection act subject', 'consider', 'consider claimant', 'consider claimant assert', 'considered', 'considered connection', 'considered connection act', 'contract', 'contract defendant', 'contract defendant execution', 'contract pass', 'contract pass vest', 'contract sale', 'contradict', 'conversion', 'conversion bale', 'conversion bale cotton', 'conversion cotton', 'conversion cotton appeal', 'correctness', 'correctness view', 'correctness view necessary', 'cotton', 'cotton appeal', 'cotton appeal barbour', 'cotton appeal city', 'cotton appeal etowah', 'cow', 'cow 39', 'creditor', 'creditor remedy', 'crop', 'crop existence', 'crop existence mortgage', 'crop existence subject', 'crop subject', 'crop subject levy', 'cunningham', 'date', 'dec', 'dec 1876', 'defendant', 'defendant execution', 'depth', 'destroyed', 'destroyed injunction', 'dewey', 'dewey bowman', 'dissenting', 'dissenting opinion', 'document', 'doughty', 'edward', 'edward thompson', 'end', 'end document', 'enquiry', 'enter', 'enter enquiry', 'error', 'error autauga', 'error autauga tried', 'error sumter', 'error tuskaloosa', 'etowah', 'etowah tried', 'etowah tried hon', 'evans', 'evans lamar', 'evidence', 'evidence admissible', 'evidence admissible contradict', 'execution', 'execution destroyed', 'execution destroyed injunction', 'execution planted', 'execution planted crop', 'execution taken', 'execution taken possession', 'exemption', 'exemption appeal', 'exemption appeal city', 'existence', 'existence mortgage', 'existence mortgage contract', 'existence subject', 'existence subject matter', 'farm', 'farm year', 'filing', 'filing citation', 'firm', 'garnishment', 'garnishment waiver', 'garnishment waiver exemption', 'generally', 'government', 'government work', 'growing', 'growing crop', 'growing crop existence', 'growing crop subject', 'hale', 'headnote', 'headnotes', 'history', 'history result', 'history result citation', 'hon', 'hon hale', 'hon john', 'hon john cunningham', 'hon moore', 'hon wm', 'hon wm whitlock', 'horton', 'injunction', 'jan', 'jan 1858', 'jan 1871', 'jan 1872', 'janney', 'john', 'john 108', 'john cunningham', 'jones', 'jones admx', 'judge', 'judge mistaken', 'judge mistaken law', 'judgment', 'jul', 'jul 1857', 'jun', 'jun 1852', 'june', 'jury', 'lamar', 'lampley', 'law', 'law firm', 'law supposing', 'law supposing contract', 'lehman', 'levy', 'levy execution', 'levy execution planted', 'levy execution taken', 'levy seizure', 'levy seizure attachment', 'lien', 'lien execution', 'lien execution destroyed', 'matter', 'matter sale', 'mayfield', 'mckenzie', 'mckenzie lampley', 'mentioned', 'mistaken', 'mistaken law', 'mistaken law supposing', 'montgomery', 'montgomery tried', 'montgomery tried hon', 'moore', 'mortgage', 'mortgage contract', 'mortgage contract pass', 'murphy', 'nan', 'necessary', 'negative', 'negative treatment', 'negative treatment result', 'november', 'number', 'opinion', 'original', 'original government', 'original government work', 'ormond', 'page', 'page number', 'parol', 'parol evidence', 'parol evidence admissible', 'pass', 'pass vest', 'pass vest possession', 'perkins', 'perkins mayfield', 'planted', 'planted crop', 'policy', 'policy state', 'port', 'port 182', 'possession', 'possession crop', 'present', 'present question', 'previous', 'previous levy', 'previous levy execution', 'property', 'property cotton', 'property cotton appeal', 'property statute', 'property statute november', 'question', 'quoted', 'rees', 'rees coat', 'reference', 'referenced', 'referenced title', 'remedy', 'result', 'result citation', 'result said', 'reuters', 'reuters claim', 'reuters claim original', 'right', 'right levy', 'right levy execution', 'right property', 'right property cotton', 'right property statute', 'said', 'sale', 'sawyer', 'seizure', 'seizure attachment', 'seizure attachment execution', 'sentence_count', 'shall', 'shall enter', 'shall enter enquiry', 'smith', 'st1821', 'state', 'statute', 'statute november', 'statute present', 'statute present question', 'stewart', 'stewart doughty', 'subject', 'subject levy', 'subject levy seizure', 'subject matter', 'subject matter sale', 'subject policy', 'subject policy state', 'sumter', 'supposing', 'supposing contract', 'supposing contract sale', 'supreme', 'supreme alabama', 'sw', 'sw 913', 'synopsis', 'table', 'table authority', 'taken', 'taken possession', 'taken possession crop', 'tanner', 'tanner horton', 'thompson', 'thomson', 'thomson reuters', 'thomson reuters claim', 'title', 'treatment', 'treatment result', 'treatment result citation', 'trial', 'trial right', 'trial right property', 'tried', 'tried hon', 'tried hon hale', 'tried hon john', 'tried hon moore', 'tried hon wm', 'trover', 'trover conversion', 'trover conversion bale', 'trover conversion cotton', 'tuskaloosa', 'type', 'vest', 'vest possession', 'view', 'view necessary', 'waiver', 'waiver exemption', 'waiver exemption appeal', 'west', 'west headnotes', 'whitlock', 'wm', 'wm whitlock', 'work', 'writ', 'writ error', 'writ error sumter', 'writ error tuskaloosa', 'year']

In [23]:
# Write your code here

import re
ip="260.08.094.109"
x =  re.sub('\.[0]', '.', ip)

print(x)

260.8.94.109

In [25]:
# Write your code here

import re
s = "The 2010s were a dramatic decade, filled with ups and downs, more than 1000 stroies have happened. As the decade comes to a close, Insider took a look back at some of the biggest headline-grabbing stories, from 2010 to 2019. The result was 119 news stories that ranged from the heartwarming rescue of a Thai boys' soccer team from a flooded cave to the divisive election of President Donald Trump."
yrs = re.findall(r"2[\d]{3}", s)

for i in yrs:
  print(i)

2010
2010
2019