<a href="https://colab.research.google.com/github/Roohiashahzad/Roohia_INFO5731_Spring2020/blob/main/RoohiaShahzad_In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (1/19/2021, 20 points in total)**

(1) Write a Python program to calculate the length of a string. (2 points)

In [1]:
# write your answer here
myName = "Roohia Shahzad"
print(len(myName))

14

(2) Write a Python program to count the number of characters in a string. (2 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [22]:
# write your answer here

def charCount(str1):
  countDict = {}
  for i in str1:
    str1Keys = countDict.keys()
    if i in str1Keys:
      countDict[i] += 1
    else:
      countDict[i] = 1
  return countDict
  sorted_dict = sorted(countDict, key =str1Keys, reverse= True)
  return sorted_dict

print('Expected Result: ', charCount('google.com'))

Expected Result:  {'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (2 points)

In [65]:
# write your answer here
def sum_of_items(list):
  total_sum = 0
  for items in list:
   total_sum += items
  return total_sum
print(sum_of_items([1,2,4,-7,9,-8]))

1

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (2 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [26]:
# write your answer here
def strChange(str):
  char = str[0]
  str = str.replace(char, '$')
  str = char + str[1:]
  return str

print(strChange('restart'))

resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (3 points)

In [56]:
# write your answer here

def calculate_S(x,y):
  if y == 0:
    def divisionError(str):
      print("Error: Division by zero")

  return 3.14 * (1 + a/b)**3

a = int(input("Enter parameter a: "))
b = int(input("Enter parameter b: "))

print('Expected value: ', calculate_S(a,b))

Enter parameter a: 5
Enter parameter b: 7
Expected value:  15.81900874635569

(6) Write a Python program to concatenate following dictionaries to create a new one. (3 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [66]:
# write your answer here
dic1 = {1:10, 2:20}
dic2 = {3:30, 4:40}
dic3 = {5:50, 6:60}
dic4 = {}
for n in (dic1,dic2,dic3): dic4.update(n)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (3 points)

In [71]:
# write your answer here
this_tuple = ("red","green","blue","orange")
print("black" in this_tuple)
print("red" in this_tuple)

False
True

(8) Write a Python program to find maximum and the minimum value in a set. (3 points)

In [57]:
# write your answer here
EvenNumberSet = {6, 10, 20, 12, 2, 8, 16, 4}
maxValue = max(EvenNumberSet)
minValue = min(EvenNumberSet)
print('Maximum value is: ',maxValue, 'and Minimum value is: ', minValue)

Maximum value is:  20 and Minimum value is:  2

(9) Write a Python program to randomly divide the students in this class into five groups for term projects, each group should have at least 3 students but no more than 5 students (including 5). Here is the students list: (3 points for extra)

studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159',
                'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']

In [81]:
# write your answer here
import random

student_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159', 'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']
group = []
for i in range(5):
 group.append(random.randint(3,5))
for j in range(5):
 divided_students = random.sample(student_list,group[j-1])
 student_list = [j for j in student_list if j not in divided_students]
 print("Group " +str(j+1)+": ", divided_students)

Group 1:  ['dd0420', 'rs0850', 'at0739', 'vmb0067', 'pn0159']
Group 2:  ['rrk0058', 'at0768', 'msp0174', 'bk0301', 'mv0299']
Group 3:  ['snd0097', 'nm0547', 'sg0940', 'pc0353']
Group 4:  ['yye0005', 'tv0119', 'dy0091', 'ss1995']
Group 5:  ['rak0120', 'vl0135', 'ds0761', 'spk0057']